/* RESET */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Edu TAS Beginner", cursive;

}

img {
    max-width: 100%
}

ul {
    list-style: none;
}

a {
    color: inherit;
}


/*layout */

.title {
    font-family: "Edu TAS Beginner", cursive;
    /* font-optical-sizing: auto; */
    font-weight: 500;
    font-size: 2rem;
    /* font-style: normal; */
    z-index: 200;
    background-image: url(../img/wall.png);
    height: 10vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

.mainpart {
    height: 100vh;
    background-image: url(../img/cork.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hoverlay {
 position: fixed;
 z-index: 100;
 background-color: rgba(146, 145, 145, 0.815);
 height: 100vh;
 width: 100vw;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 gap: 40px;
 display: none;
}

#overlayImg {
    width: 40vw;
    aspect-ratio: 1;
}

#overlayBtn {
    font-family:'Times New Roman', Times, serif;
    padding: 5px 15px;
    border-radius: 5px;
}


.bacheca {
    /* background-color: aqua; */
    /* height: 60%; */
    width: 70%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
    overflow: scroll;
    scrollbar-width: none;
    padding-top: 5px;
    overflow: visible;
}

.card {
    background-color: white;
    width: 25%;
    overflow: visible;
    aspect-ratio: 9 : 16;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    position: relative;
    z-index: 1;
    overflow: visible;
 
}

#foto{
    width: 100%;
    aspect-ratio: 1;
}

#testo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
    font-size: 0.9rem;
    width: 100%;
    aspect-ratio: 5;
}

.puntina {
    position: absolute;
    width: 10%;
    top: 3%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.d-flex {
    display: flex;
    z-index: 999;
}

.d-none {
    display: none;
}

 /* funziona per edge */

.rotate {
    transform: 
    rotate(15deg)
    scale(1.1);
    position: relative;
    z-index: 998;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.623); 
    transition: transform 0.3s ease;
    overflow: visible;
}

.card:hover {
        transform: 
    rotate(15deg)
    scale(1.1);
    position: relative;
    z-index: 998;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.623); 
    transition: transform 0.3s ease;
    overflow: visible;
}


@media (max-width: 1100px) {
  .mainpart {

    height: 150vh;

}

  
    .bacheca {
    width: 80%;
  }
      .card {
    width: 45%;
}
}


@media (max-width: 540px) {
      .bacheca {
    width: 70%;
  }

    .mainpart {
    
    height: 300vh;

}

    .card {
    width: 90%;
  }
}
 
